<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head th:fragment="head(title)">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="${title}">Title</title>
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div th:fragment="account-info">
            <div sec:authorize="isAuthenticated()">
                <div class="h-form">
                    <h2>Logged in: <span th:text="${#authentication.name}"></span> </h2>
                    <form method="POST" th:action="@{/logout}">
                        <input type="submit" value="Sign out"/>
                    </form>
                </div>
                <ul>
                    <li><a th:href="@{/accounts/{username}(username=${#authentication.name})}">Account page</a></li>
                </ul>
            </div>

            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Log in</a>
                <a th:href="@{/register}">Register</a>
            </div>
        </div>
    </body>
</html>
