<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head th:fragment="head(title)" lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="${title}">Title</title>
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div th:fragment="account-info">
            <div sec:authorize="isAuthenticated()" class="main-bar">
                <div>
                    <a th:href="@{/}">Home page</a>
                    <a th:href="@{/accounts/{username}(username=${#authentication.name})}">Account page</a>
                </div>
                <div class="container-logout">
                    <p>Logged in: <span th:text="${#authentication.name}">Username</span></p>
                    <form method="POST" th:action="@{/logout}">
                        <input type="submit" value="Sign out"/>
                    </form>
                </div>
            </div>

            <div sec:authorize="isAnonymous()"  class="main-bar">
                <a th:href="@{/}">Home page</a>
                <div class="container-logout">
                    <a th:href="@{/login}">Log in</a>
                    <a th:href="@{/register}">Register</a>
                </div>
            </div>
        </div>
        
        <div th:fragment="account-sidebar(username)" class="sidenav">
            <h3 th:text="${username}">Username</h3>
            <img src="/images/stock-profile-picture.jpg" alt="Profile picture"/>
            <!--<a href="">Relations</a>-->
            <div class="sidenav-relation-options" sec:authorize="isAuthenticated()">
                <fieldset>
                    <legend>Your relations</legend>
                    <div>
                        <form method="POST" th:action="@{/accounts/{username}/friend(username=${accountDto.username})}">
                            <input type="submit" value="Add Friend"/>
                        </form>
                    </div>
                    <form method="POST" th:action="@{/accounts/{username}/unfriend(username=${accountDto.username})}">
                        <input type="submit" value="Remove Friend"/>
                    </form>
                </fieldset>
            </div>
            <a href="">Pictures</a>
        </div>
    </body>
</html>
