<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        
        <header th:fragment="header">
            <div th:fragment="header-logged-in" sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/accounts/{username}(username=${#authentication.name})}">Account page</a> |

                <form method="POST" th:action="@{/logout}">
                    <input type="submit" value="Sign out"/>
                </form>
            </div>

            <div th:fragment="header-not-logged-in" sec:authorize="isAnonymous()">
                | Anonymous Account | <a th:href="@{/login}">Log in</a> |
            </div>
        </header>
        
    </body>
</html>
