a:hover {
    color: lightblue;
}

.button-add {
    color: red;
}

.button-remove {
    color: green;
}

.main-bar {
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertical align the elements to the center */
    
}

.main-bar a, p {
    margin-left: 10px; /* Push this element to the right */
}

.container-logout {
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-logout input {
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    margin-top: 10px;
    margin-left: 162px;
    padding: 0px 10px;
    border: 1px solid black;
}

/* The sidebar menu */
.sidenav {
    height: calc(100% - 100px); /* Full-height: remove this if you want "auto" height */
    width: 130px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    
}

.sidenav fieldset {
    display: flex;
}

.sidenav img {
    border: 1px solid black;
    display: block;
    width: 128px;
    height: 128px;
}

.sidenav a {
    text-decoration: none;
    display: block;
    text-align: center;
}

.sidenav h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}