<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="~{fragments/layout :: head(title='account')}">
        <title>Account</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <a th:href="@{/}">Home page</a>
        
        <div th:replace="~{fragments/layout :: account-info}"></div>
        
        <div class="h-form">
            <h1>Account <span th:text="${accountDto.username}"></span> page</h1>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${isfollowing}">
                    <form method="POST" th:action="@{/accounts/{username}/unfollow(username=${accountDto.username})}">
                        <input type="submit" value="Unfollow"></input>
                    </form>
                </div>

                <div th:if="${!isfollowing}">
                    <form method="POST" th:action="@{/accounts/{username}/follow(username=${accountDto.username})}">
                        <input type="submit" value="Follow"/>
                    </form>
                </div>
            </div>
        </div>
        
        <h2>Following</h2>
        <ol>
            <li th:each="followingAccountDto : ${following}">
                <a th:href="@{/accounts/{username}(username=${followingAccountDto.username})}" th:text="${followingAccountDto.username}">username</a>
            </li>
        </ol>
        
        <h2>Followers</h2>
        <ol>
            <li th:each="followedAccountDto : ${followers}">
                <a th:href="@{/accounts/{username}(username=${followedAccountDto.username})}" th:text="${followedAccountDto.username}">username</a>
            </li>
        </ol>
        
    </body>
</html>
