<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="~{fragments/layout :: head('Accounts page')}">
        <title>Accounts page</title>
    </head>
    <body>
        <div th:replace="~{fragments/layout :: account-info}"></div>
        
        <h2>Accounts</h2>
        <ol>
            <li th:each="accountDto : ${accountDtos}">
                <a th:href="@{/accounts/{username}(username=${accountDto.username})}" th:text="${accountDto.username}">username</a>
            </li>
        </ol>
    </body>
</html>